# Python
__pycache__/
*.py[cod]
*.pyo
*.db
*.sqlite3
*.log

# Django
/static/
media/
*.pot
*.mo

# Environment
.env
*.env
.env.*

# Docker
*.pid
*.sock
*.log
*.bak
*.swp
db_data/
pg_data/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
